@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Montserrat:wght@300;400;500;700&family=Outfit:wght@300;400;700;900&family=Roboto:wght@300;400;900&display=swap");
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Outfit", "Roboto", "Chakra Petch", "Montserrat", sans-serif;
}

:root {
  --primary-color: rgba(245, 245,245, 1);
  --second-color: rgba(43, 47, 63, .3);
  --thirth-color: #d2ab34;
  --fourth-color: rgba(226, 49, 76, 1);
  --span-color: rgba(242, 83, 10, 1);
  --nav-color: rgba(43, 47, 63, 1);
  --primary-font: font-family: "Outfit", sans-serif;
  --second-font: font-family: "Roboto", sans-serif;
  --third-font: font-family: "Chakra Petch", sans-serif;
  --fourth-font: font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: center;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

span {
  color: var(--span-color);
}

/* ==================== */
/*        HEADER        */
/* ==================== */
@keyframes move {
  from {
    background-position: bottom left;
  }
  to {
    background-position: top right;
  }
}
@media (max-width: 1200px) {
  /*====Productos====*/
  .product {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    text-align: center;
    justify-content: center;
    margin-right: 200px;
  }
  .h2-product {
    font-size: 30px !important;
    color: var(--thirth-color) !important;
  }
  .h3-product {
    font-size: 20px !important;
    font-weight: 300;
    color: var(--span-color) !important;
    margin-bottom: 5px;
    font-family: var(--fourth-font) !important;
  }
  .talles {
    color: var(--span-color) !important;
  }
  .talla {
    color: var(--span-color) !important;
  }
  .glass {
    backdrop-filter: none !important;
    height: 451px !important;
    width: 430px;
    margin-top: 0px !important;
    justify-content: center;
    backdrop-filter: none !important;
  }
  /*====Productos====*/
}
@media (max-width: 990px) {
  /*====Header====*/
  header {
    height: 400px;
  }
  .header-title {
    font-size: 2rem;
    justify-content: center;
    margin: 100px auto;
  }
  .header-title h2 {
    font-size: 3rem;
  }
  .header-title p {
    font-size: 2.5rem;
  }
  .enalce {
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 1rem;
  }
  /*====Productos====*/
  .product {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    text-align: center;
    justify-content: center;
    margin-right: 100px;
  }
  /*====Footer====*/
  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
  }
}
@media (max-width: 760px) {
  /*====Header====*/
  .header-title {
    margin: 100px auto;
  }
  .check-btn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--nav-color);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  li a:hover,
  li a.active {
    background: none;
    color: var(--primary-color);
  }
  #check:checked ~ ul {
    left: 0;
  }
  /*====Productos====*/
  .product {
    display: flex !important;
    flex-direction: column !important;
    text-align: center !important;
    justify-content: center;
    margin: auto 20px !important;
  }
  /*====Footer====*/
  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}
header {
  width: 100%;
  background: url(/images/portada-2.jpg) no-repeat center center;
  height: 600px;
  background-size: 150%;
  animation: move 10s linear infinite alternate;
}

.header-title {
  font-size: 2rem;
  justify-content: center;
  margin: 200px auto;
}

.header-title h2 {
  color: var(--thirth-color);
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.header-title p {
  color: var(--thirth-color);
  font-family: var(--fourth-font);
  font-weight: bold;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
}

nav {
  background: var(--second-color);
  height: 80px;
  width: 100%;
  position: fixed;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: var(--span-color);
  font-size: 1.2rem;
  padding: 7px 13px;
}

li a.active,
li a:hover {
  background: var(--nav-color);
  color: var(--primary-color);
  border-radius: 5px;
  transition: 0.5s;
}

.check-btn {
  font-size: 30px;
  color: var(--primary-color);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 990px) {
  /*====Header====*/
  header {
    height: 400px;
  }
  .header-title {
    font-size: 2rem;
    justify-content: center;
    margin: 100px auto;
  }
  .header-title h2 {
    font-size: 3rem;
  }
  .header-title p {
    font-size: 2.5rem;
  }
  .enalce {
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 1rem;
  }
  /*====Header====*/
}
@media (max-width: 760px) {
  /*====Header====*/
  .header-title {
    margin: 100px auto;
  }
  .check-btn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--nav-color);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  li a:hover,
  li a.active {
    background: none;
    color: var(--primary-color);
  }
  #check:checked ~ ul {
    left: 0;
  }
  /*====Header====*/
}
.section {
  margin-bottom: 20px;
}

.container-product {
  align-items: center;
  justify-content: center;
}

.container-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 50px;
}

.container-title h2 {
  font-size: 50px;
  color: var(--thirth-color);
  text-align: center;
  justify-content: center;
}

.container-title p {
  font-size: 40px;
  color: var(--span-color);
  text-align: center;
  justify-content: center;
}

.product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

.box-product {
  text-align: center;
  width: 100%;
  margin-left: 100px;
  margin: 20px auto 20px 100px;
}

.glass {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 30px;
  height: 230px;
  width: 430px;
  margin-top: 220px;
  position: absolute;
  background-color: rgba(93, 233, 255, 0.4);
  backdrop-filter: blur(1px);
  text-align: center;
  transition: 1.5s all;
  overflow: hidden;
}

.glass:hover {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 451px;
  width: 430px;
  margin-top: 0;
  background-color: rgba(32, 72, 78, 0.4);
  transition: 1.5s all;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.glass:hover .talles {
  margin-top: 10px;
  transition: 1.5s all;
}

.glass img {
  width: 30px;
}

.cabecera {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 25px;
  font-size: 25px;
  color: var(--primary-color);
}

.h2-product {
  font-size: 50px;
  color: var(--primary-color);
}

.h3-product {
  font-size: 30px;
  font-weight: 300;
  color: var(--primary-color);
}

.precio {
  font-size: 30px;
  color: var(--primary-color);
}

.precio span {
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 300;
}

.talles {
  margin-top: 70px;
  font-size: 30px;
  color: var(--primary-color);
}

.talle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid rgb(245, 245, 245);
  font-size: 20px;
}

.talle:hover {
  background-color: rgba(32, 72, 78, 0.9);
}

.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  margin-top: 10px;
}

.footer button {
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid var(--primary-color);
  width: 120px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  color: var(--primary-color);
}

.footer button:hover {
  background-color: rgba(32, 72, 78, 0.9);
  transition: 1.5s all;
  font-weight: 700;
}

.imagen {
  height: 450px;
  width: 430px;
  border-radius: 30px;
  display: flex;
  box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.75);
  background-color: aqua;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #333;
  width: 100%;
  min-height: 350px;
  padding: 3rem 1rem;
}

.container-footer {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  min-width: 250px;
  color: var(--primary-color);
  font-family: var(--primary-font);
  padding: 0 2rem;
}

.col .logo {
  width: 100px;
  margin-bottom: 25px;
}

.col h3 {
  color: var(--third-color);
  margin-bottom: 20px;
  justify-content: center;
  justify-items: center;
  position: relative;
  cursor: pointer;
}

.col h3::after {
  content: "";
  height: 3px;
  width: 0px;
  background-color: var(--span-color);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

.col h3:hover::after {
  width: 30px;
}

.col .social a i {
  color: var(--span-color);
  margin-top: 2rem;
  margin-right: 8px;
  transition: 0.5s ease;
  font-size: 25px;
}

.col .social a i:hover {
  transform: scale(1.5);
  filter: grayscale(25);
  color: var(--span-color);
}

.col .links a {
  display: block;
  text-decoration: none;
  color: var(--span-color);
  margin-bottom: 5px;
  position: relative;
  transition: 0.3s ease;
}

.col .links a::before {
  content: "";
  height: 16px;
  width: 3px;
  position: absolute;
  top: 5px;
  left: -10px;
  background-color: var(--span-color);
  transition: 0.5s ease;
  opacity: 0;
}

.col .links a:hover::before {
  opacity: 1;
}

.col .links a:hover {
  transform: translateX(-8px);
  color: var(--span-color);
}

.col .contact-details {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 0 10px;
}

.col .contact-details i {
  color: var(--span-color);
  margin-right: 15px;
  font-size: 20px;
}

.row .form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  margin: auto;
}

.row .form input {
  background-color: var(--primary-color);
  border: 0;
  outline: none;
  padding: 10px 15px;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

form button {
  padding: 10px 15px;
  border: 0;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--span-color);
}

form button:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
