@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Montserrat:wght@300;400;500;700&family=Outfit:wght@300;400;700;900&family=Roboto:wght@300;400;900&display=swap");


* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    font-family: 'Outfit', 'Roboto', 'Chakra Petch', 'Montserrat', sans-serif;
}

:root {
    --primary-color: rgba(245, 245,245, 1);
    --second-color: rgba(43, 47, 63, .5);
    --thirth-color: #d2ab34;
    --fourth-color: rgba(226, 49, 76, 1);
    --span-color: rgba(242, 83, 10, 1);
    --nav-color: rgba(43, 47, 63, 1);
    --primary-font: font-family: 'Outfit', sans-serif;
    --second-font: font-family: 'Roboto', sans-serif;
    --third-font: font-family: 'Chakra Petch', sans-serif;
    --fourth-font: font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
    scroll-behavior: smooth;
    overflow-x: hidden !important;
    background-image: url(../images/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

section {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    border-radius: 10px;
    background: var(--second-color);
    margin: 20px auto;
    box-shadow: 0 0 12px var(--span-color);
}

span {
    color: var(--span-color);
}

.tittle h1 {
     text-align: center;
    font-family: var(--primary-font);
    font-size: 1.5rem;
    color: var(--thirth-color);
    text-decoration: underline;
    margin-bottom: 20px;
}

.tittle h3 {
     text-align: center;
    font-size: 1.1rem;
    color: var(--second-color);
}

